%h1
  Users

%table.table.table-striped
  %thead
    %th
      Id
    %th
      Name

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = link_to user.name, user_path(user)

